## DrAiveX Day 2: Introduction to Python for Data Engineering

### What is Data Engineering and Why is Important

_[Definition]_: Data Engineering is the process of converting the raw data from the datsets (CSV, XLS) etc into a form which the AI Model can Understand.

AI/ Artificial Intelligence is the Computational use of Statistics. Since Statistics is  mathematical topic, including Numbers, So, Every AI Model, can work only on Numbers.

### Sounds Cool! How to Convert every data into Numbers?

In Data Engineering is not only about representing non-numeric data into numbers, It includes additional important steps like,Data Cleaning, Plotting to find the nature of Data, etc. As the answer of the question, We Represent limited set of Non-Numeric Properties (like Gender, Department in college, etc) as Numbers, like (0/1 for Gender, Set of Natural Numbers as the Departments (0,1,2,3...,n) )

## Okay! I get it, but I am too lazy to create a set of rules to, read the data, access the data,  What Do I Do? :3

In python there's a lots of libraries that can help you in the process of Data Engineering,and Normalizing. Two of the famous ones are (We wil use use them extensively):
* Numpy (Numeric Python, To handle matrix calculations, so that you don't have to worry about the Algorithms behind it)
* Pandas (To Handle filtering, Normalizing, reading/writing to/from widely used dataset formats like CSV, XLS files)

### OMG !! I don't know Python!! What to Do??

Well, My friend, Python is a very _Funny Language_ (Quoting from Bol Bachhan, Haha!!). It is easy to use, hassle free code, and anyone can understand Python, if they got a basic logical sense, and knows a bit of english.

Even the Hello world of Python is so easy!!

In [1]:
print("Hello World!")

Hello World!

See?? No extra lines of Stuffs, and so much intutive!
If you guys know, Basic C programming, You will remember those notorious symbols like `;`, `{`. Well, in python,

##### We Don't have it here!!
And To Symbolize  Block, you just need to provide a Tab or some spaces to align the code, and creating blocks like it was done in `{` in C. _(Even There's not `int`, `float`, `char` datatypes, Pyhton is smart enough to understand the datatype. ;) )_ **Okay!** Enough, Chit Chat, Let me show you.

In [2]:
a= 10
if a %2 ==0:
    print("Even")
else:
    print("Odd")

Even

You only need to know these to get started to your data science career! Rest you can learn as you go! **PS :Don't tell anyone.. I did this approach myself.. haha!**

And through out your Python Career if you come across some Functions, Classes, you don't know, You can always open help from the python interpreter.

In [3]:
# For example, if you don't know about hex function in python
help(hex)

Help on built-in function hex in module __builtin__:

hex(...)
    hex(number) -> string

    Return the hexadecimal representation of an integer or long integer.

Just like in C/C++ we can write comments in the code, so that, it is easy for third person to read the code.
Similar to every language, Comment doesn't get executed and python interpreter overlooks comment, as if they were not even present!
** SO How do we write a comment? **

In [4]:
# HI! I'm a Comment! I don't get executed. I'm so lonely, no one (except the humans) cares about my existence :(
print("Hello There!")

Hello There!

# Pandas (Part 1)

To install pandas from Jupyter Notebook, run the cell below (Press Ctrl-Enter while in the Cell)

In [5]:
! pip install pandas
! pip install xlrd #For reading excel Data

Requirement already satisfied: pandas in /usr/local/lib/python2.7/dist-packages (0.23.3)
Requirement already satisfied: pytz>=2011k in /usr/lib/python2.7/dist-packages (from pandas) (2012rc0)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python2.7/dist-packages (from pandas) (2.7.3)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python2.7/dist-packages (from pandas) (1.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python2.7/dist-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)
Requirement already satisfied: xlrd in /usr/lib/python2.7/dist-packages (0.9.2)

#### That was easy right?? ;)
Moving right along, Let's see how to open dataset files using pandas.

In [6]:
# lets call pandas in the code at first ( Like #include in C/C++ )
import pandas as pd
# import calls the library pandas we installed previously. we could've written import pandas but then if we had
# to use anything from pandas library, we needed to callit as pandas.function() but we are lazy right? ;)
# so we used the as keyword of python which sets a nickname (alias) for pandas, pd. so, that next time we call
# anything, we can call it as pd.function() instead of pandas.function()
# Easy right ;)


#variable1=pd.read_csv("test.csv") If you have a .csv file, use this
variable1=pd.read_excel("titanic3.xls")

/usr/local/lib/python2.7/dist-packages/pandas/_libs/__init__.py:4: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from .tslib import iNaT, NaT, Timestamp, Timedelta, OutOfBoundsDatetime
/usr/local/lib/python2.7/dist-packages/pandas/__init__.py:26: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import (hashtable as _hashtable,
/usr/local/lib/python2.7/dist-packages/pandas/core/dtypes/common.py:6: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import algos, lib
/usr/local/lib/python2.7/dist-packages/pandas/core/util/hashing.py:7: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import hashing, tslib
/usr/local/lib/python2.7/dist-packages/pandas/core/indexes/base.py:7: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import (lib, index as libindex, tslib as libts,
/usr/local/lib/python2.7/dist-packages/pandas/tseries/offsets.py:21: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  import pandas._libs.tslibs.offsets as liboffsets
/usr/local/lib/python2.7/dist-packages/pandas/core/ops.py:16: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import algos as libalgos, ops as libops
/usr/local/lib/python2.7/dist-packages/pandas/core/indexes/interval.py:32: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs.interval import (
/usr/local/lib/python2.7/dist-packages/pandas/core/internals.py:14: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import internals as libinternals
/usr/local/lib/python2.7/dist-packages/pandas/core/sparse/array.py:33: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  import pandas._libs.sparse as splib
/usr/local/lib/python2.7/dist-packages/pandas/core/window.py:36: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  import pandas._libs.window as _window
/usr/local/lib/python2.7/dist-packages/pandas/core/groupby/groupby.py:68: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import (lib, reduction,
/usr/local/lib/python2.7/dist-packages/pandas/core/reshape/reshape.py:30: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import algos as _algos, reshape as _reshape
/usr/local/lib/python2.7/dist-packages/pandas/io/parsers.py:45: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  import pandas._libs.parsers as parsers
/usr/local/lib/python2.7/dist-packages/pandas/io/pytables.py:50: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import algos, lib, writers as libwriters

 #### Congrats! You have successfully read the titanic3.xls file

find more about `read_csv` file, by typing this out in a code cell / Python interpreter:
```python
help(pd.read_csv)
```
`variable1` in above code is called **DataFrame** according to Pandas Convention.

Now let's see, what kind of dataset we have got, let's see some of the top entries (In this case top 10 entries)

In [7]:
print(variable1.head(10)) # printing top n=10 entries

   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female
5       1         1                              Anderson, Mr. Harry    male
6       1         1                Andrews, Miss. Kornelia Theodosia  female
7       1         0                           Andrews, Mr. Thomas Jr    male
8       1         1    Appleton, Mrs. Edward Dale (Charlotte Lamson)  female
9       1         0                          Artagaveytia, Mr. Ramon    male

       age  sibsp  parch    ticket      fare    cabin embarked boat   body  \
0  29.0000      0      0     24160  211.3375       B5        S    2    NaN
1   0.9167      1      2    113781  151.5500  C22 C26        S   11    NaN
2   2.0000      1      2    113781  151.5500  C22 C26        S  NaN    NaN
3  30.0000      1      2    113781  151.5500  C22 C26        S  NaN  135.0
4  25.0000      1      2    113781  151.5500  C22 C26        S  NaN    NaN
5  48.0000      0      0     19952   26.5500      E12        S    3    NaN
6  63.0000      1      0     13502   77.9583       D7        S   10    NaN
7  39.0000      0      0    112050    0.0000      A36        S  NaN    NaN
8  53.0000      2      0     11769   51.4792     C101        S    D    NaN
9  71.0000      0      0  PC 17609   49.5042      NaN        C  NaN   22.0

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON
5                     New York, NY
6                       Hudson, NY
7                      Belfast, NI
8              Bayside, Queens, NY
9              Montevideo, Uruguay

That's cool! Now it's time to look at different properties of data. That might help us identify some deeper meaning from the data, helping us to engineer the data properly.
### But, I AM LAZY! I don't wanna write any code to find out those stuffs! What to Do?
Well, my friend, I am lazy too! and pandas knows it very well! haha! So, it has provided this extremely important function, that can give us all those nerdy stuffs, we want!

In [8]:
print(variable1.describe())

            pclass     survived          age        sibsp        parch  \
count  1309.000000  1309.000000  1046.000000  1309.000000  1309.000000
mean      2.294882     0.381971    29.881135     0.498854     0.385027
std       0.837836     0.486055    14.413500     1.041658     0.865560
min       1.000000     0.000000     0.166700     0.000000     0.000000
25%       2.000000     0.000000    21.000000     0.000000     0.000000
50%       3.000000     0.000000    28.000000     0.000000     0.000000
75%       3.000000     1.000000    39.000000     1.000000     0.000000
max       3.000000     1.000000    80.000000     8.000000     9.000000

              fare        body
count  1308.000000  121.000000
mean     33.295479  160.809917
std      51.758668   97.696922
min       0.000000    1.000000
25%       7.895800   72.000000
50%      14.454200  155.000000
75%      31.275000  256.000000
max     512.329200  328.000000

See! Easy right? Okay now the most important question, you might have.
### Okay, I get it. Pandas is cool, But how can I get the data that pandas is showing for further manipulation?

Well, my friend, that's why we are here!
But First Let's get some introduction to Python List and Dictionary ** The Pandas Story is not over yet! **
If you know about Python List and Dictionary.

# Python List and Dictionary

As we all know, to store any data we need a variable. **But Wait!** if there are thousands of same **type** of data,
** DO WE NEED TO DECLARE THOUSANDS OF VARIABLES?? ARRGH!!!!**
Well, haha! That's not the case, Python have something called **List**, Similar to arrays in C/C++ pr whatever language you have seen yet.
_[Def]_: List is a kind of Varible which can store a lot of data in a single variable, **With No Limitations** of the **Datatype** of the content data. (Which was in the case of C/C++/C#/Java Arrays).
List a collection of data which can store any type of data together!  (People with Java Background, It's simialar to ArrayList in Java Collections)

_**Example**_:

In [9]:
variable2=["Adrish", 1234, variable1]
# Here "Adrish is a String, 1234 is a number (int) and variable is a pandas DataFrame Object
# But our List can store them all!
print(type(variable2)) # <class 'list'>
# lists like arrays have zero-base indexing, where 0 represents 1st element, 1 represents 2nd element etc.
print(type(variable2[0])) # <class 'str'>
print(type(variable2[1])) # <class 'int'>
print(type(variable2[2])) # <class 'pandas.core.frame.DataFrame'>`

<type 'list'>
<type 'str'>
<type 'int'>
<class 'pandas.core.frame.DataFrame'>

### Well, Adrish, I couldn't follow the Comments and I need a better description of Python List. What are those numbers in the 3rd brackets!
They are indexes of element in the list.
Okay, let me show you an example:
Let `a` be a python list.
```python
a = [1, 2, 3, 4]
```
This list is represented in the memory as:
```sh
[   1    |   2    |    3     |   4   ]
    ^        ^         ^         ^
    0        1         2         3      <--- Hello! We are indexes!
```
A computer alway starts counting from 0, so, the position of the 1st element of the list is 0, 2nd element is 1 etc.
and when we say `a[0]` we are asking python to give us the element from the list `a` which is located at position 0

### Python Dictionary
Whenever I talk about dictionary, What comes to your mind?? For me, It's the Oxford Pocket Dictionary, I have (It has been a life saver you know!, Haha!)

so, what happens in that oxford pocket dictionary? We search for the word and we get all the syntactical and symantical information we need to know about the word.
So, if I ask you, how will you implement that in any language??

I am sure, many will tell that we will save the Words in an Array and We will save the meanings in other arrays, and we will use the indexes to match them.
The word at 0th position of the array1 will have it's meaning in array2 in the same 0th position, so on and so forth.
**OR**
you can use python dictionaries!
 ** Okay, HOW??**
 python dictionaries looks like this:
```python 
 
 dictionary = {"cat":"A cute furry animal, which loves humans", "dog":"4 legged mammal, which are cute when small and bold when grows older."}
 
 ```
 
 **Okay, I get it, but how to access the descriptions of the word "cat" ?**
 
 Well, my friend, it's so damn easy!
 
 ```python
 
 print(dictionary["cat"])
 ```

In [10]:
dictionary = {"cat":"A cute furry animal, which loves humans", "dog":"4 legged mammal, which are cute when small and bold when grows older."}
print(dictionary["cat"])

A cute furry animal, which loves humans

# Pandas (Continued)

### How to access data from Pandas DataFrame?
Pandas DataFrame Provides a similar access technique as Dictionary and List Combined.
The Pandas DataFrame is like a Matrix, with rows and columns. 
We need to pass the name of the column and the row number to get the data.
the syntax is:
`dataFrame[<Column Name>][<ROw Number>]`

In [11]:
test_df=pd.read_csv("test.csv")
print(test_df)
print("\n"*4)
print(test_df["Name"][0]) # Print the First Name from the CSV file

     Name Stream Sex Section
0  Adrish    CSE   M       B
1  Soumit    CSE   M       A
2  Shahid    CSE   M       A
3   Soham    CSE   M       A
4   Ayush    ECE   M       A





Adrish

**NOTE:**
The example works perfectly, If the columns are given a name. Ase we saw the Columns are accessed by passing the name of the column and the number of the row.**However**, if there are no column header, we need to tell`pd.read_csv` explicitly, that there are no headers, otherwise, it will consider, the first entry as header.

In [12]:
# For example
test_df=pd.read_csv("no_header.csv")
print(test_df)
print("\n"*4)
print("1st Column:",test_df['Adrish'])

   Adrish  CSE  M  B
0  Soumit  CSE  M  A
1  Shahid  CSE  M  A
2   Soham  CSE  M  A
3   Ayush  ECE  M  A





('1st Column:', 0    Soumit
1    Shahid
2     Soham
3     Ayush
Name: Adrish, dtype: object)

As you can see, the first element, "Adrish" is now considered as column name, which is np=ot what we want, right?
In such cases, we need to pass `pd.read_csv()` another _parameter_, `header=None`

In [13]:
test_df=pd.read_csv("no_header.csv",header=None)
print(test_df)
print("\n"*4)
print("1st Column: ", test_df[0])

        0    1  2  3
0  Adrish  CSE  M  B
1  Soumit  CSE  M  A
2  Shahid  CSE  M  A
3   Soham  CSE  M  A
4   Ayush  ECE  M  A





('1st Column: ', 0    Adrish
1    Soumit
2    Shahid
3     Soham
4     Ayush
Name: 0, dtype: object)

Okay, now we want something more:
Let's find out some more stuffs about pandas.
To find the maximum/ minimum value of a column:
there's a function, called `max()/min()` respectively which can help us with that.

** Now, How to use it?? **

`dataFrame[<column name>].max()`

In [14]:
print "Maximum: ",variable1['age'].max()
print "Minimum: ",variable1['age'].min()

Maximum:  80.0
Minimum:  0.1667

## Finding Collection of Data from the DataFrame, which staisfies some given condition
Here we will see how to get a list of Rows from the DataFrame, whose column satisfies a specific condition.

** Adrish! That went tangential to my head! Can you rephrase?**

For Example, in the dataset we are using, titanic passenger dataset, let us assume, we want to know how many of the passengers are alive. According to the dataset, we want to know the **Name and Age** of the people, whose survival column have value =1
How to do that??

** PS: Being a Lazy Person, I don't want write the code which will loop thtough all the Rows and print those columns which have survive==1 **

Hmm.... What to do now??

Luckily, Pandas Knows we are **lazy** so it provided this awesome feature, to solve this kind of problem.

```python
dataFrame[<column_name(s)_ to_fetch>][<condition>]
```
**Example Time!**

In [15]:
filtered_1=variable1[["name","age"]][variable1["survived"]==1]
print(filtered_1.head(10))# The Dataset is huge, so we are looking the top 10 entries

                                                 name      age
0                       Allen, Miss. Elisabeth Walton  29.0000
1                      Allison, Master. Hudson Trevor   0.9167
5                                 Anderson, Mr. Harry  48.0000
6                   Andrews, Miss. Kornelia Theodosia  63.0000
8       Appleton, Mrs. Edward Dale (Charlotte Lamson)  53.0000
11  Astor, Mrs. John Jacob (Madeleine Talmadge Force)  18.0000
12                      Aubart, Mme. Leontine Pauline  24.0000
13                       Barber, Miss. Ellen "Nellie"  26.0000
14               Barkworth, Mr. Algernon Henry Wilson  80.0000
17    Baxter, Mrs. James (Helene DeLaudeniere Chaput)  50.0000

## FillNaN
In real life Datasets, There are cases, where some of the entries are missing. For Example: In our dataset, there are places where the Parchment number of the victims are not present, and those places are filled with a special numerical value, called NaN (Not a Number). These NaNs cannot help in performing any Mathematical operation, so our AI model will suddenly crashed if these NaNs are not removed.
** Solution 1: ** Wite an Program which will loop through all elements and replace these NaNs with any number we wish (generally 0)

** PS: We Are Lazy! Aren't We?. And the best part, Pandas Knows it! **
So we have this amazing function which helps us get our job done! ;)
Let me show you an example:

In [16]:
print(variable1.head(10))

   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female
5       1         1                              Anderson, Mr. Harry    male
6       1         1                Andrews, Miss. Kornelia Theodosia  female
7       1         0                           Andrews, Mr. Thomas Jr    male
8       1         1    Appleton, Mrs. Edward Dale (Charlotte Lamson)  female
9       1         0                          Artagaveytia, Mr. Ramon    male

       age  sibsp  parch    ticket      fare    cabin embarked boat   body  \
0  29.0000      0      0     24160  211.3375       B5        S    2    NaN
1   0.9167      1      2    113781  151.5500  C22 C26        S   11    NaN
2   2.0000      1      2    113781  151.5500  C22 C26        S  NaN    NaN
3  30.0000      1      2    113781  151.5500  C22 C26        S  NaN  135.0
4  25.0000      1      2    113781  151.5500  C22 C26        S  NaN    NaN
5  48.0000      0      0     19952   26.5500      E12        S    3    NaN
6  63.0000      1      0     13502   77.9583       D7        S   10    NaN
7  39.0000      0      0    112050    0.0000      A36        S  NaN    NaN
8  53.0000      2      0     11769   51.4792     C101        S    D    NaN
9  71.0000      0      0  PC 17609   49.5042      NaN        C  NaN   22.0

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON
5                     New York, NY
6                       Hudson, NY
7                      Belfast, NI
8              Bayside, Queens, NY
9              Montevideo, Uruguay

Can You see those Vacant Places?? (Filled with NaN)
Let's fill those holes!

In [17]:
variable1.fillna(0,inplace=True)
print(variable1)

      pclass  survived                                               name  \
0          1         1                      Allen, Miss. Elisabeth Walton
1          1         1                     Allison, Master. Hudson Trevor
2          1         0                       Allison, Miss. Helen Loraine
3          1         0               Allison, Mr. Hudson Joshua Creighton
4          1         0    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
5          1         1                                Anderson, Mr. Harry
6          1         1                  Andrews, Miss. Kornelia Theodosia
7          1         0                             Andrews, Mr. Thomas Jr
8          1         1      Appleton, Mrs. Edward Dale (Charlotte Lamson)
9          1         0                            Artagaveytia, Mr. Ramon
10         1         0                             Astor, Col. John Jacob
11         1         1  Astor, Mrs. John Jacob (Madeleine Talmadge Force)
12         1         1                      Aubart, Mme. Leontine Pauline
13         1         1                       Barber, Miss. Ellen "Nellie"
14         1         1               Barkworth, Mr. Algernon Henry Wilson
15         1         0                                Baumann, Mr. John D
16         1         0                           Baxter, Mr. Quigg Edmond
17         1         1    Baxter, Mrs. James (Helene DeLaudeniere Chaput)
18         1         1                              Bazzani, Miss. Albina
19         1         0                               Beattie, Mr. Thomson
20         1         1                      Beckwith, Mr. Richard Leonard
21         1         1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
22         1         1                              Behr, Mr. Karl Howell
23         1         1                              Bidois, Miss. Rosalie
24         1         1                                  Bird, Miss. Ellen
25         1         0                                Birnbaum, Mr. Jakob
26         1         1                            Bishop, Mr. Dickinson H
27         1         1            Bishop, Mrs. Dickinson H (Helen Walton)
28         1         1                             Bissette, Miss. Amelia
29         1         1          Bjornstrom-Steffansson, Mr. Mauritz Hakan
...      ...       ...                                                ...
1279       3         0               Vestrom, Miss. Hulda Amanda Adolfina
1280       3         0                                    Vovk, Mr. Janko
1281       3         0                               Waelens, Mr. Achille
1282       3         0                                Ware, Mr. Frederick
1283       3         0                        Warren, Mr. Charles William
1284       3         0                                  Webber, Mr. James
1285       3         0                                Wenzel, Mr. Linhart
1286       3         1    Whabee, Mrs. George Joseph (Shawneene Abi-Saab)
1287       3         0                   Widegren, Mr. Carl/Charles Peter
1288       3         0                          Wiklund, Mr. Jakob Alfred
1289       3         0                            Wiklund, Mr. Karl Johan
1290       3         1                   Wilkes, Mrs. James (Ellen Needs)
1291       3         0                   Willer, Mr. Aaron ("Abi Weller")
1292       3         0                                 Willey, Mr. Edward
1293       3         0                  Williams, Mr. Howard Hugh "Harry"
1294       3         0                               Williams, Mr. Leslie
1295       3         0                                Windelov, Mr. Einar
1296       3         0                                   Wirz, Mr. Albert
1297       3         0                             Wiseman, Mr. Phillippe
1298       3         0                          Wittevrongel, Mr. Camille
1299       3         0                                Yasbeck, Mr. Antoni
1300       3         1            Yasbeck, Mrs. Antoni (Selini Alexander)
1301       3         0                               Youseff, Mr. Gerious
1302       3         0                                  Yousif, Mr. Wazli
1303       3         0                              Yousseff, Mr. Gerious
1304       3         0                               Zabour, Miss. Hileni
1305       3         0                              Zabour, Miss. Thamine
1306       3         0                          Zakarian, Mr. Mapriededer
1307       3         0                                Zakarian, Mr. Ortin
1308       3         0                                 Zimmerman, Mr. Leo

         sex      age  sibsp  parch            ticket      fare    cabin  \
0     female  29.0000      0      0             24160  211.3375       B5
1       male   0.9167      1      2            113781  151.5500  C22 C26
2     female   2.0000      1      2            113781  151.5500  C22 C26
3       male  30.0000      1      2            113781  151.5500  C22 C26
4     female  25.0000      1      2            113781  151.5500  C22 C26
5       male  48.0000      0      0             19952   26.5500      E12
6     female  63.0000      1      0             13502   77.9583       D7
7       male  39.0000      0      0            112050    0.0000      A36
8     female  53.0000      2      0             11769   51.4792     C101
9       male  71.0000      0      0          PC 17609   49.5042        0
10      male  47.0000      1      0          PC 17757  227.5250  C62 C64
11    female  18.0000      1      0          PC 17757  227.5250  C62 C64
12    female  24.0000      0      0          PC 17477   69.3000      B35
13    female  26.0000      0      0             19877   78.8500        0
14      male  80.0000      0      0             27042   30.0000      A23
15      male   0.0000      0      0          PC 17318   25.9250        0
16      male  24.0000      0      1          PC 17558  247.5208  B58 B60
17    female  50.0000      0      1          PC 17558  247.5208  B58 B60
18    female  32.0000      0      0             11813   76.2917      D15
19      male  36.0000      0      0             13050   75.2417       C6
20      male  37.0000      1      1             11751   52.5542      D35
21    female  47.0000      1      1             11751   52.5542      D35
22      male  26.0000      0      0            111369   30.0000     C148
23    female  42.0000      0      0          PC 17757  227.5250        0
24    female  29.0000      0      0          PC 17483  221.7792      C97
25      male  25.0000      0      0             13905   26.0000        0
26      male  25.0000      1      0             11967   91.0792      B49
27    female  19.0000      1      0             11967   91.0792      B49
28    female  35.0000      0      0          PC 17760  135.6333      C99
29      male  28.0000      0      0            110564   26.5500      C52
...      ...      ...    ...    ...               ...       ...      ...
1279  female  14.0000      0      0            350406    7.8542        0
1280    male  22.0000      0      0            349252    7.8958        0
1281    male  22.0000      0      0            345767    9.0000        0
1282    male   0.0000      0      0            359309    8.0500        0
1283    male   0.0000      0      0        C.A. 49867    7.5500        0
1284    male   0.0000      0      0  SOTON/OQ 3101316    8.0500        0
1285    male  32.5000      0      0            345775    9.5000        0
1286  female  38.0000      0      0              2688    7.2292        0
1287    male  51.0000      0      0            347064    7.7500        0
1288    male  18.0000      1      0           3101267    6.4958        0
1289    male  21.0000      1      0           3101266    6.4958        0
1290  female  47.0000      1      0            363272    7.0000        0
1291    male   0.0000      0      0              3410    8.7125        0
1292    male   0.0000      0      0     S.O./P.P. 751    7.5500        0
1293    male   0.0000      0      0          A/5 2466    8.0500        0
1294    male  28.5000      0      0             54636   16.1000        0
1295    male  21.0000      0      0  SOTON/OQ 3101317    7.2500        0
1296    male  27.0000      0      0            315154    8.6625        0
1297    male   0.0000      0      0        A/4. 34244    7.2500        0
1298    male  36.0000      0      0            345771    9.5000        0
1299    male  27.0000      1      0              2659   14.4542        0
1300  female  15.0000      1      0              2659   14.4542        0
1301    male  45.5000      0      0              2628    7.2250        0
1302    male   0.0000      0      0              2647    7.2250        0
1303    male   0.0000      0      0              2627   14.4583        0
1304  female  14.5000      1      0              2665   14.4542        0
1305  female   0.0000      1      0              2665   14.4542        0
1306    male  26.5000      0      0              2656    7.2250        0
1307    male  27.0000      0      0              2670    7.2250        0
1308    male  29.0000      0      0            315082    7.8750        0

     embarked boat   body                           home.dest
0           S    2    0.0                        St Louis, MO
1           S   11    0.0     Montreal, PQ / Chesterville, ON
2           S    0    0.0     Montreal, PQ / Chesterville, ON
3           S    0  135.0     Montreal, PQ / Chesterville, ON
4           S    0    0.0     Montreal, PQ / Chesterville, ON
5           S    3    0.0                        New York, NY
6           S   10    0.0                          Hudson, NY
7           S    0    0.0                         Belfast, NI
8           S    D    0.0                 Bayside, Queens, NY
9           C    0   22.0                 Montevideo, Uruguay
10          C    0  124.0                        New York, NY
11          C    4    0.0                        New York, NY
12          C    9    0.0                       Paris, France
13          S    6    0.0                                   0
14          S    B    0.0                       Hessle, Yorks
15          S    0    0.0                        New York, NY
16          C    0    0.0                        Montreal, PQ
17          C    6    0.0                        Montreal, PQ
18          C    8    0.0                                   0
19          C    A    0.0                        Winnipeg, MN
20          S    5    0.0                        New York, NY
21          S    5    0.0                        New York, NY
22          C    5    0.0                        New York, NY
23          C    4    0.0                                   0
24          S    8    0.0                                   0
25          C    0  148.0                   San Francisco, CA
26          C    7    0.0                        Dowagiac, MI
27          C    7    0.0                        Dowagiac, MI
28          S    8    0.0                                   0
29          S    D    0.0  Stockholm, Sweden / Washington, DC
...       ...  ...    ...                                 ...
1279        S    0    0.0                                   0
1280        S    0    0.0                                   0
1281        S    0    0.0      Antwerp, Belgium / Stanton, OH
1282        S    0    0.0                                   0
1283        S    0    0.0                                   0
1284        S    0    0.0                                   0
1285        S    0  298.0                                   0
1286        C    C    0.0                                   0
1287        S    0    0.0                                   0
1288        S    0  314.0                                   0
1289        S    0    0.0                                   0
1290        S    0    0.0                                   0
1291        S    0    0.0                                   0
1292        S    0    0.0                                   0
1293        S    0    0.0                                   0
1294        S    0   14.0                                   0
1295        S    0    0.0                                   0
1296        S    0  131.0                                   0
1297        S    0    0.0                                   0
1298        S    0    0.0                                   0
1299        C    C    0.0                                   0
1300        C    0    0.0                                   0
1301        C    0  312.0                                   0
1302        C    0    0.0                                   0
1303        C    0    0.0                                   0
1304        C    0  328.0                                   0
1305        C    0    0.0                                   0
1306        C    0  304.0                                   0
1307        C    0    0.0                                   0
1308        S    0    0.0                                   0

[1309 rows x 14 columns]

**Can You Spot the difference now?**

`.fillna()` takes one argument, the value to fill the vacant places with. `inplace=True` is used to make the changes in `variable1` instead of keeping it unmodified and returning a modified DataFrame.

# DataFrame.apply in Pandas

There might be cases where you want to apply some function to all the Values of a Column. Like,for example, you might wanna create another column, where you want to store the length of the name of the passengers. For that we need to loop through all the elements, That's a whole lot of job to do! We would really prefer if something ready made is available.. ;)

To our utter surprise, Pandas developer team figured it out already that, we might look for such a thing some day. So they created the `.apply()` function on the `DataFrame` object, which helo us apply a function to all the elements in a column(s).

Let me show you how to solve this problem using `.apply()` function.

In [18]:
temp=variable1["name"].apply(len) #we are applying the len() function of python on the column name
variable1["Column_1"]=temp #This line creates a new column named as "Column_1" in the pandas.DataFrame
print variable1

      pclass  survived                                               name  \
0          1         1                      Allen, Miss. Elisabeth Walton
1          1         1                     Allison, Master. Hudson Trevor
2          1         0                       Allison, Miss. Helen Loraine
3          1         0               Allison, Mr. Hudson Joshua Creighton
4          1         0    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
5          1         1                                Anderson, Mr. Harry
6          1         1                  Andrews, Miss. Kornelia Theodosia
7          1         0                             Andrews, Mr. Thomas Jr
8          1         1      Appleton, Mrs. Edward Dale (Charlotte Lamson)
9          1         0                            Artagaveytia, Mr. Ramon
10         1         0                             Astor, Col. John Jacob
11         1         1  Astor, Mrs. John Jacob (Madeleine Talmadge Force)
12         1         1                      Aubart, Mme. Leontine Pauline
13         1         1                       Barber, Miss. Ellen "Nellie"
14         1         1               Barkworth, Mr. Algernon Henry Wilson
15         1         0                                Baumann, Mr. John D
16         1         0                           Baxter, Mr. Quigg Edmond
17         1         1    Baxter, Mrs. James (Helene DeLaudeniere Chaput)
18         1         1                              Bazzani, Miss. Albina
19         1         0                               Beattie, Mr. Thomson
20         1         1                      Beckwith, Mr. Richard Leonard
21         1         1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
22         1         1                              Behr, Mr. Karl Howell
23         1         1                              Bidois, Miss. Rosalie
24         1         1                                  Bird, Miss. Ellen
25         1         0                                Birnbaum, Mr. Jakob
26         1         1                            Bishop, Mr. Dickinson H
27         1         1            Bishop, Mrs. Dickinson H (Helen Walton)
28         1         1                             Bissette, Miss. Amelia
29         1         1          Bjornstrom-Steffansson, Mr. Mauritz Hakan
...      ...       ...                                                ...
1279       3         0               Vestrom, Miss. Hulda Amanda Adolfina
1280       3         0                                    Vovk, Mr. Janko
1281       3         0                               Waelens, Mr. Achille
1282       3         0                                Ware, Mr. Frederick
1283       3         0                        Warren, Mr. Charles William
1284       3         0                                  Webber, Mr. James
1285       3         0                                Wenzel, Mr. Linhart
1286       3         1    Whabee, Mrs. George Joseph (Shawneene Abi-Saab)
1287       3         0                   Widegren, Mr. Carl/Charles Peter
1288       3         0                          Wiklund, Mr. Jakob Alfred
1289       3         0                            Wiklund, Mr. Karl Johan
1290       3         1                   Wilkes, Mrs. James (Ellen Needs)
1291       3         0                   Willer, Mr. Aaron ("Abi Weller")
1292       3         0                                 Willey, Mr. Edward
1293       3         0                  Williams, Mr. Howard Hugh "Harry"
1294       3         0                               Williams, Mr. Leslie
1295       3         0                                Windelov, Mr. Einar
1296       3         0                                   Wirz, Mr. Albert
1297       3         0                             Wiseman, Mr. Phillippe
1298       3         0                          Wittevrongel, Mr. Camille
1299       3         0                                Yasbeck, Mr. Antoni
1300       3         1            Yasbeck, Mrs. Antoni (Selini Alexander)
1301       3         0                               Youseff, Mr. Gerious
1302       3         0                                  Yousif, Mr. Wazli
1303       3         0                              Yousseff, Mr. Gerious
1304       3         0                               Zabour, Miss. Hileni
1305       3         0                              Zabour, Miss. Thamine
1306       3         0                          Zakarian, Mr. Mapriededer
1307       3         0                                Zakarian, Mr. Ortin
1308       3         0                                 Zimmerman, Mr. Leo

         sex      age  sibsp  parch            ticket      fare    cabin  \
0     female  29.0000      0      0             24160  211.3375       B5
1       male   0.9167      1      2            113781  151.5500  C22 C26
2     female   2.0000      1      2            113781  151.5500  C22 C26
3       male  30.0000      1      2            113781  151.5500  C22 C26
4     female  25.0000      1      2            113781  151.5500  C22 C26
5       male  48.0000      0      0             19952   26.5500      E12
6     female  63.0000      1      0             13502   77.9583       D7
7       male  39.0000      0      0            112050    0.0000      A36
8     female  53.0000      2      0             11769   51.4792     C101
9       male  71.0000      0      0          PC 17609   49.5042        0
10      male  47.0000      1      0          PC 17757  227.5250  C62 C64
11    female  18.0000      1      0          PC 17757  227.5250  C62 C64
12    female  24.0000      0      0          PC 17477   69.3000      B35
13    female  26.0000      0      0             19877   78.8500        0
14      male  80.0000      0      0             27042   30.0000      A23
15      male   0.0000      0      0          PC 17318   25.9250        0
16      male  24.0000      0      1          PC 17558  247.5208  B58 B60
17    female  50.0000      0      1          PC 17558  247.5208  B58 B60
18    female  32.0000      0      0             11813   76.2917      D15
19      male  36.0000      0      0             13050   75.2417       C6
20      male  37.0000      1      1             11751   52.5542      D35
21    female  47.0000      1      1             11751   52.5542      D35
22      male  26.0000      0      0            111369   30.0000     C148
23    female  42.0000      0      0          PC 17757  227.5250        0
24    female  29.0000      0      0          PC 17483  221.7792      C97
25      male  25.0000      0      0             13905   26.0000        0
26      male  25.0000      1      0             11967   91.0792      B49
27    female  19.0000      1      0             11967   91.0792      B49
28    female  35.0000      0      0          PC 17760  135.6333      C99
29      male  28.0000      0      0            110564   26.5500      C52
...      ...      ...    ...    ...               ...       ...      ...
1279  female  14.0000      0      0            350406    7.8542        0
1280    male  22.0000      0      0            349252    7.8958        0
1281    male  22.0000      0      0            345767    9.0000        0
1282    male   0.0000      0      0            359309    8.0500        0
1283    male   0.0000      0      0        C.A. 49867    7.5500        0
1284    male   0.0000      0      0  SOTON/OQ 3101316    8.0500        0
1285    male  32.5000      0      0            345775    9.5000        0
1286  female  38.0000      0      0              2688    7.2292        0
1287    male  51.0000      0      0            347064    7.7500        0
1288    male  18.0000      1      0           3101267    6.4958        0
1289    male  21.0000      1      0           3101266    6.4958        0
1290  female  47.0000      1      0            363272    7.0000        0
1291    male   0.0000      0      0              3410    8.7125        0
1292    male   0.0000      0      0     S.O./P.P. 751    7.5500        0
1293    male   0.0000      0      0          A/5 2466    8.0500        0
1294    male  28.5000      0      0             54636   16.1000        0
1295    male  21.0000      0      0  SOTON/OQ 3101317    7.2500        0
1296    male  27.0000      0      0            315154    8.6625        0
1297    male   0.0000      0      0        A/4. 34244    7.2500        0
1298    male  36.0000      0      0            345771    9.5000        0
1299    male  27.0000      1      0              2659   14.4542        0
1300  female  15.0000      1      0              2659   14.4542        0
1301    male  45.5000      0      0              2628    7.2250        0
1302    male   0.0000      0      0              2647    7.2250        0
1303    male   0.0000      0      0              2627   14.4583        0
1304  female  14.5000      1      0              2665   14.4542        0
1305  female   0.0000      1      0              2665   14.4542        0
1306    male  26.5000      0      0              2656    7.2250        0
1307    male  27.0000      0      0              2670    7.2250        0
1308    male  29.0000      0      0            315082    7.8750        0

     embarked boat   body                           home.dest  Column_1
0           S    2    0.0                        St Louis, MO        29
1           S   11    0.0     Montreal, PQ / Chesterville, ON        30
2           S    0    0.0     Montreal, PQ / Chesterville, ON        28
3           S    0  135.0     Montreal, PQ / Chesterville, ON        36
4           S    0    0.0     Montreal, PQ / Chesterville, ON        47
5           S    3    0.0                        New York, NY        19
6           S   10    0.0                          Hudson, NY        33
7           S    0    0.0                         Belfast, NI        22
8           S    D    0.0                 Bayside, Queens, NY        45
9           C    0   22.0                 Montevideo, Uruguay        23
10          C    0  124.0                        New York, NY        22
11          C    4    0.0                        New York, NY        49
12          C    9    0.0                       Paris, France        29
13          S    6    0.0                                   0        28
14          S    B    0.0                       Hessle, Yorks        36
15          S    0    0.0                        New York, NY        19
16          C    0    0.0                        Montreal, PQ        24
17          C    6    0.0                        Montreal, PQ        47
18          C    8    0.0                                   0        21
19          C    A    0.0                        Winnipeg, MN        20
20          S    5    0.0                        New York, NY        29
21          S    5    0.0                        New York, NY        48
22          C    5    0.0                        New York, NY        21
23          C    4    0.0                                   0        21
24          S    8    0.0                                   0        17
25          C    0  148.0                   San Francisco, CA        19
26          C    7    0.0                        Dowagiac, MI        23
27          C    7    0.0                        Dowagiac, MI        39
28          S    8    0.0                                   0        22
29          S    D    0.0  Stockholm, Sweden / Washington, DC        41
...       ...  ...    ...                                 ...       ...
1279        S    0    0.0                                   0        36
1280        S    0    0.0                                   0        15
1281        S    0    0.0      Antwerp, Belgium / Stanton, OH        20
1282        S    0    0.0                                   0        19
1283        S    0    0.0                                   0        27
1284        S    0    0.0                                   0        17
1285        S    0  298.0                                   0        19
1286        C    C    0.0                                   0        47
1287        S    0    0.0                                   0        32
1288        S    0  314.0                                   0        25
1289        S    0    0.0                                   0        23
1290        S    0    0.0                                   0        32
1291        S    0    0.0                                   0        32
1292        S    0    0.0                                   0        18
1293        S    0    0.0                                   0        33
1294        S    0   14.0                                   0        20
1295        S    0    0.0                                   0        19
1296        S    0  131.0                                   0        16
1297        S    0    0.0                                   0        22
1298        S    0    0.0                                   0        25
1299        C    C    0.0                                   0        19
1300        C    0    0.0                                   0        39
1301        C    0  312.0                                   0        20
1302        C    0    0.0                                   0        17
1303        C    0    0.0                                   0        21
1304        C    0  328.0                                   0        20
1305        C    0    0.0                                   0        21
1306        C    0  304.0                                   0        25
1307        C    0    0.0                                   0        19
1308        S    0    0.0                                   0        18

[1309 rows x 15 columns]

# Numpy

Remember those times, when we had to write for loops in C while performing matrix calculation? Aargh! I hated to write ~20 lines for performing matrix multiplications/addition/substraction.
So for us Lazy People, There's this awesome Library in Python known as **Numpy** which stands for Numeric Python.


Numpy can perform a whole lot of functions,but it's speciality stands out in it's extremely easy interface for performing operations on matrix and numeric arrays.

### Ok, how to use it??
To use it you need to install it first. The following code cell can help you with that.

In [19]:
! pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python2.7/dist-packages (1.15.0)

**Okay that was easy!**

Now how to use this? AKA, **Adrish Show me some Magic!**

But we need to import it first right? :)

In [20]:
import numpy as np # Okay! Don't judge me, I'm lazy

In [21]:
array1=np.array([1,2,3,4,5,6])
array2=np.array([1]*6) # You can do this, to flaunt your lazy nature, this [1]*6 creates a list of 6, 1s, [1,1,1,1,1,1]
#Adding 2 numbers
print(array1+array2) #See that was easy!!!!!!!
print(array1-array2) # EEEEAAASSSYYYYY!!!!!!
print(array1*array2) #Perform element wise multiplication: That was easy too!
print(array1/(2*array2)) # You can even multiply a scalar like 2 with array2, with no extra headache.. and you can divide it.. just like numbers

[2 3 4 5 6 7]
[0 1 2 3 4 5]
[1 2 3 4 5 6]
[0 1 1 2 2 3]

There a **LOT** more numpy and pandas, but this much is enough for Project 1.